* {
    margin: 0;
}

html {
    font-size: 10px;
}

main {
    width: 100%;
    padding: .4rem;
}

main, main * {
    box-sizing: border-box;
}

main .row {
    display: flex;
    padding: .4rem;
}

main .row > div {
    border: 1px solid #DDDDDD;
}

main .row.scoreboard {
    height: 100px;
}

main .row.scoreboard div {
    background: #EEEEEE;
}

main .row.scoreboard > div {
    width: 100%;
}

main .row.main {
    height: calc(100vh - (100px + .8rem));
    min-height: 450px;
}

main .row.main > div:first-child {
    width: 80%;
    margin-right: .8rem;
}

main .row.main > div:last-child {
    width: 20%;
    min-width: 200px;
}

#word-container {
    height: 150px;
}

#chat-container {
    height: calc(100% - 150px);
}

#chat-messages-container {
    height: calc(100% - 35px);
}

#chat-messages-container .chat-message {
    padding: .8rem;
    background: linear-gradient(#997ef1, #866fef);
}

#chat-input-container input {
    width: 100%;
    padding: .6rem;
    font: 1.4rem 'Open Sans';
    border: none;
    border-top: 1px solid #DDDDDD;
    outline: none;
}
