* {
    margin: 0;
}

main {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

main .row {
   display: flex; 
}

main .row:first-child {
    height: 15%;
    min-height: 100px;
}

main .row:last-child {
    height: 85%;
    min-height: 600px;
}

main .row > div {
    padding: 16px;
}

main .row > div:first-child {
    flex: 1;
    width: 75%;
    padding-right: 8px;
}

main .row > div:last-child {
    width: 25%;
    padding-left: 8px;
}

main .row > div > div {
    width: 100%;
    height: 100%;
    border: 1px solid #DDDDDD;
}

#scoreboard-container {
    width: 100%;
}

#chat-container input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    outline: none;
}